<a name="private-events"></a>
{{> global/bg-image-partial class="Section-bg--privateEvents" image=config.privateEventsImage}}
<section
  class="PrivateEvents Section Section-bg Section-bg--privateEvents">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        {{> global/section-header-partial title=config.privateEventsHeader}}
        {{> private-events-form-partial}}
      </div>
    </div>
  </section>
