// @function ratio($width, $height) {
//   return percentage( $height / $width);
// }
//
// @mixin responsiveContainer($width, $height, $prefix: "ratio-") {
//   $class-name: $prefix + $width + "x" + $height;
//
//   .#{$class-name} {
//     padding-bottom: ratio($width, $height);
//   }
//   // Output example: .ratio-16x9 {}
// }

@mixin responsiveContainer( $ratio : .5625 ){
	position: relative;
	padding-bottom: percentage($ratio);
	height: auto;
	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}
